h1 {
  text-align: center;
}

.project_page {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  background-color: rgba(141, 153, 171, 0.5);
  padding: 15px;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
  /* min-height: 1000px; */
  /* align-items: flex-start; */
}
.letter_3d {
  font-size: 60px;
  color: darkcyan;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7), 1px 1px 2px rgba(0, 0, 0, 0.7),
    3px 3px 2px rgba(0, 0, 0, 0.7), 1px 1px 2px rgba(0, 0, 0, 0.7),
    2px 4px 9px rgba(0, 0, 0, 0.7);
}
