.main_nav {
  transition: all 2s;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
  min-height: 70px;
  position: fixed;
  width: 100%;
  gap: 10px;
  transition-delay: 0.5s;
}

.nav_scroll {
  box-shadow: 1px 1px 18px 1px gray;
  cursor: pointer;
  transition: all 0.5s;
  background-color: floralwhite;
  z-index: 1;
}

.main_nav:hover {
  transition: all 2s;
  gap: 50px;
}

.main_nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-size: 20px;
  color: #0087ca;
  min-width: 100px;
  border-radius: 10px;
  margin: 10px 0;
}

.main_nav li:hover {
  background: rgb(168, 173, 245);
  transition: all 1s;
  color: white;
}

.isActive {
  background-color: rgb(7 7 109);
  color: white !important;
}

.main_nav li a {
  line-height: 40px;
}

.hover_underline {
  display: inline-block;
  position: relative;
}

.hover_underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;

  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover_underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
}

@media screen and (max-width: 500px) {
  .main_nav {
    transition: all 2s;
    gap: 10px;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .main_nav {
    gap: 10px;
    justify-content: center;
  }
  .main_nav:hover {
    gap: 10px;
    justify-content: center;
  }
}
